<ion-modal-view>
  <ion-header-bar class="theme">
    <h1 class="title">New Event</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddEventModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row" ng-show="newEventData.loading" style="position: absolute; top:10px; z-index: 10000; background-color: rgba(255, 255, 255, 0.9)">
      <div class="col col-center col-33 col-offset-33" style="text-align:center"><ion-spinner icon="ripple"></ion-spinner></div>
      <div class="col"><br><br></div>
    </div>
    <form name="newEventForm" ng-submit="addEvent()" ng-disabled="newEventData.loading">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Event Name</span>
          <input type="text" ng-model="newEventData.name" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea msd-elastic ng-model="newEventData.description" required></textarea>
        </label>

        <div class="item tabs tabs-secondary tabs-icon-top">
          <a class="tab-item" href="#" ng-click="getPhoto()">
            <i class="icon ion-ios-camera grey"></i>
            Picture
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-heart grey"></i>
            Link
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-earth grey"></i>
            Share
          </a>
        </div>

        <label class="item">
          <button class="button button-block button-positive ion-plus" type="submit" ng-disabled="newEventForm.$invalid || newEventData.loading"> Add </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
