<ion-view hide-nav-bar="true" class="full-background">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<div class="row" ng-show="newEventData.loading" style="position: absolute; top:10px; z-index: 10000; background-color: rgba(255, 255, 255, 0.9)">
					<div class="col col-center col-33 col-offset-33" style="text-align:center"><ion-spinner icon="ripple"></ion-spinner></div>
					<div class="col"><br><br></div>
				</div>

				<form name="newEventForm" ng-submit="addEvent()" ng-disabled="newEventData.loading">
					<div class="list list-inset">
						<label class="item item-input">
							<input type="text" placeholder="First Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Last Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Username">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Email">
						</label>

						<label class="item">
							<button class="button button-block button-positive ion-plus" type="submit" ng-disabled="newEventForm.$invalid || newEventData.loading"> Add </button>
						</label>
						<label class="item">
							<div style="text-align: center">OR</div>
							<button class="button button-block button-positive ion-social-facebook"> Sign in with Facebook </button>
						</label>
					</div>
				</form>	
			</div>
		</div>
	</ion-content>
</ion-view>