<ion-view view-title="Tree">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-title ng-dblclick="scrollTop()"></ion-nav-title>
	<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-leaf" ng-click="openAddEventModal()"></button>
    </ion-nav-buttons>

	<ion-content>
		<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 1000px">
			<div style="width: 5000px; height: 5000px">
				<div class="tree">
					<ul>
						<li>
							<a href="#">Parent</a>
							<ul>
								<li>
									<a href="#">Child</a>
									<ul>
										<li>
											<a href="#">Grand Child</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Child</a>
									<ul>
										<li><a href="#">Grand Child</a></li>
										<li>
											<a href="#">Grand Child</a>
											<ul>
												<li>
													<a href="#">Great Grand Child</a>
												</li>
												<li>
													<a href="#">Great Grand Child</a>
												</li>
												<li>
													<a href="#">Great Grand Child</a>
												</li>
											</ul>
										</li>
										<li><a href="#">Grand Child</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>		
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>